{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<div id='content' data-role='content' style="text-align: center;">

<form action="{{ url_for('add_group') }}" method=post>
    <div style="margin-top:10%; width:30%; height:30%;margin-left:35%;margin-right:30%;font-family:Comic Sans MS, Comic Sans, cursive;" >
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

        <div>
            <h2>Enter Group Details</h2>
        </div>
        <dl>
        <dt>Group Name*:
            <dd><input type=text name=name>
                <dt>Description:
                    <dd><input type=text name=description>
                                <dt>Venue:
                                    <dd><input type=text name=venue>
                                        <dt>Event Date:
                                            <dd><input type=text name=eventdate>
                                                <dd><button data-role="button" name="group_members" value="Next">Next</button>
                                                        </dl>
    </div>
</form>
</div>
{% endblock %}