{% extends "layout.html" %}

{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<div id='content' data-role='content' style="text-align: center;">
	<form action="{{ url_for('group_listing') }}" method=post>
		<div style="margin-top:10%; width:30%; height:30%;margin-left:35%;margin-right:30%;font-family:Comic Sans MS, Comic Sans, cursive;" >
        	<dl>
				<button data-role="button" name="listing" value="add_group" data-icon="plus" value="GroupListing">Add a Group</button>
			</dl>
            <ul data-role="listview" style="margin-top:5%;">
                {% for x in group_names %}
                    {% for i in x %}
                    <button data-role="button" name="listing" value="{{ i }}" type="text">{{ i }}</button>
                    {% endfor %}
                {% endfor %}
            </ul>
		</div>
	</form>
</div>

{% endblock %}
