{% extends "layout.html" %}

{% block body %}
<div id='content' data-role='content' style="text-align: center;">
    <form action="{{ url_for('login') }}" method=post>
        <div style="margin-top:15%; width:30%; height:30%;margin-left:35%;margin-right:30%;font-family:Comic Sans MS, Comic Sans;" >
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
            {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            <div>
                <h2>Login</h2>
            </div>
            <dl>
                <dt>Username (email)
                <dd><input type=text name=username>
                <dt>Password
                <dd><input type=password name=password>
                <dd><input name=login type=submit value=Login>
            </dl>
        </div>
    </form>
</div>
{% endblock %}