{% extends "layout.html" %}

{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<script type='text/javascript'>

    var main = function(){
        $("#select-group").on('change',function(){
            $("#select-members").empty();
            var group_name=$(this).val();
            var data = {{ jsonGroupList|tojson|safe }};
            var data1 = JSON.parse(data);
            var group_members_list = data1[group_name];
            for (var i = 0; i < group_members_list.length; i++) {
                $("#select-members").append($('<option></option>').val(group_members_list[i]).html(group_members_list[i]).attr("name",group_members_list[i]));
            }
        });
    }
    $(document).ready(main);
    </script>

<div id='content' data-role='content' style="text-align: center;">
    <form action="{{ url_for('share') }}" method=post>
        <div style="margin-top:15%; width:30%; height:30%;margin-left:35%;margin-right:30%;font-family:Comic Sans MS, Comic Sans;" >
            <div>
                <h2>Assign Ingredients</h2>
            </div>
            <dl>
                <input type=hidden name=ingredients value="{{ ingredients }}"></input>
                <input type=hidden name=recipe_name value="{{ recipe_name }}"></input>
                <label for="select-group" class="select">Select Group:</label>
                <select name="select-group" id="select-group">
                    <option value="default" >Select a Group</option>
                    {% for group_name in group_list.keys() %}
                    <option value="{{group_name}}">{{group_name}}</option>
                    {% endfor %}
                </select>
                <label for="select-members" class="select">Select Group Members:</label>
                <select name="select-members" id="select-members">
                </select>
                <input name=share type=submit value=Share></input>
            </dl>
        </div>
    </form>
</div>
{% endblock %}