{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<script type='text/javascript'>

    var main = function(){
        $("li[name=saved_list]").on("swipe",function(){
            $(this).hide();
        });
        $("li[name=saved_list]").on("tap",function(){
            $(this).hide();
        });
    }
    $(document).ready(main);
</script>

<div id='content' data-role='content' style="text-align: center;">
<form>
    <div style="margin-top:2%;width:80%;font-family:Comic Sans MS, Comic Sans;margin-left:5%" >
    <div data-role="collapsible-set">
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
		<h2>Saved Lists</h2>
		<div "collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
			<ul data-role="listview">
			{% for ingredient in saved_bag %}
			    <li name=saved_list data-icon="delete"><a href = "#">{{ ingredient }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div><!-- /collapsible -->
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
		<h2>Shared Lists</h2>
		<div "collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
			<ul data-role="listview">
			{% for item in shared_bag %}
			    <li name=shared_list data-icon="delete" href = "#" ><a>
				<h2>{{ item[0] }} - {{ item[1]}}, {{ item[2] }}</h2>
				<!--<h2>Group Name : {{ item[1] }} </h2>
				<h2>Member Name : {{ item[2] }} </h2>-->
				</a></li>
			{% endfor %}
			</ul>
		</div>
	</div><!-- /collapsible -->
	</div>
	</div>
</form>
</div>
{% endblock %}